.dijeteWrapper {
  position: relative;
  margin: 0 50px;
}
.cell {
  width: 20rem;
  text-align: left;
  display: flex;
  align-items: center;
}
.row {
  display: flex;
  cursor: pointer;
  background-color: white;
  border: none;
  /*box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;*/
  transition: 300ms;
}
.row:hover {
  background-color: #f4f4fb;
  transition: 300ms;
}
.lokacija {
  width: 50%;
  justify-content: center;
}
.naziv {
  width: 50%;
  font-weight: bold;
  justify-content: center;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.odjel {
  justify-content: center;
  width: 65%;
}
.x:hover {
  color: red;
}
.drugiRed {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.prviRed {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
