.container {
  overflow: hidden;
}
.menuButton {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  padding: 5px;
  transition: 0.3s;
  font-size: 20px;
  font-weight: 500;
  margin-top: 15px;
  background-color: transparent;
  border: none;
  background-color: #fafaff;
  padding: 10px 20px;
  /* border-radius: 10px 10px 0 0; */
  /*box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;*/
  opacity: 50%;
  z-index: 3;
  position: relative;
  margin-right: 15px;
  border-radius: 0.42rem 0.42rem 0 0;
}
.menuButton:hover {
  cursor: pointer;
}
.active {
  background-color: #ffffff;
  transition: 300ms;
  transform: scale(1.1);
  opacity: 100%;
  overflow: hidden;
  position: relative;
}
