.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
  overflow: hidden;
  backdrop-filter: blur(3px);
}

.modal {
  position: fixed;
  height: 98%;
  top: 1%;
  left: 1%;
  z-index: 100;
  overflow: hidden;
}

.header {
  background: #14213d;
  padding: 1rem;
}

.header h2,
h3 {
  margin: 0;
  color: white;
}

.components {
  padding: 0 50px;
}

.actions {
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 48%;
}

.card {
  background: #f4f4fb;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 0.42rem;
}

.button {
  font: inherit;
  border: 1px solid #14213d;
  background: #14213d;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  border-radius: 0.42rem;
  transition: 300ms;
  margin-right: 10px;
}

.button:hover,
.button:active {
  background: #2f3e5e;
  border-color: #2f3e5e;
  transition: 300ms;
  transform: scale(1.05);
}

.button:focus {
  outline: none;
}

.close {
  font: inherit;
  border: 1px solid #e94d4d;
  background: #e94d4d;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  border-radius: 0.42rem;
  transition: 300ms;
}

.close:hover,
.close:active {
  background: #f18686;
  border-color: #f18686;
  transition: 300ms;
  transform: scale(1.05);
}

.close:focus {
  outline: none;
}

.modalWrapper {
  text-align: left;
}
.smallWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.label {
  font-size: 1.1rem;
}
.input {
  height: 1.5rem;
  font-size: 1rem;
  margin-top: 5px;
  border-radius: 0.42rem;
  border: 1px solid #b1b3b9;
}
.input:focus {
  outline: none;
}

.labelUpozorenja {
  font-family: "Poppins", sans-serif;
  color: #e94d4d;
}

@media (min-width: 768px) {
  .modal {
    left: 5%;
    width: 90%;
  }
}
.add {
  position: relative;
  margin-left: 70%;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: white;
  background-color: #14213d;
  border-radius: 10px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 1rem;
  height: 2rem;
  transition: 300ms;
}
.add:hover,
.add:active {
  background: #2f3e5e;
  border-color: #2f3e5e;
  transition: 300ms;
  transform: scale(1.05);
}

.add:focus {
  outline: none;
}
.cell {
  width: 20rem;
  text-align: left;
  display: flex;
  align-items: center;
  padding-left: 15px;
}
.heading {
  width: 20rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.naziv {
  width: 20%;
}
.opis {
  width: 20%;
}
.half {
  width: 50%;
}

.row_heading {
  display: flex;
  background-color: beige;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px 5px 0 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 0 50px;
}
.naziv {
  font-weight: bold;
}
.search {
  width: 15rem;
  height: 1.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.search:focus {
  outline: none;
  font-family: "Poppins", sans-serif;
}
.left {
  width: 45%;
  background-color: white;
  padding: 1.5rem;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.right {
  width: 45%;
  margin-left: 1rem;
  background-color: white;
  border-radius: 20px;
  padding: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
