.dijeteWrapper{
    position: relative;
    margin:  0 50px;
    overflow-y: scroll;
    height: 36rem;
    /*box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;*/
    background-color: white;
}

.dijeteWrapper::-webkit-scrollbar {
  width: 1em;
  background-color: beige;
}
 
.dijeteWrapper::-webkit-scrollbar-track {
  /*box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);*/
}
 
.dijeteWrapper::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.20);
  outline: 1px solid rgba(0, 0, 0, 0.20);;
}

.cell{
    width: 20rem;
    text-align: left;
    display: flex;
    align-items: center;
}
.row{
    display: flex;
    cursor: pointer;
    background-color: white;
    border: none;
    /*box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;*/
    transition: 300ms;
}
.row:hover{
    background-color: #F4F4FB;
    transition: 300ms;
}
.lokacija{
    width: 50%;
    justify-content: center;
}
.naziv{
    width: 50%;
    justify-content: center;
    border-right: 1px solid rgba(0, 0, 0, 0.20);
}
.odjel{
  justify-content: center;
    width: 65%;
}
.x:hover{
color: red;
}
.drugiRed{
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
    border-left: 1px solid rgba(0, 0, 0, 0.20);
    border-right: 1px solid rgba(0, 0, 0, 0.20);
}
.prviRed{
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
    border-left: 1px solid rgba(0, 0, 0, 0.20);
    border-right: 1px solid rgba(0, 0, 0, 0.20);
}