.show {
  display: flex;
}
.sideMenu {
  width: 20rem;
  height: 100vh;
  font-size: 50px;
  background: #14213d;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  z-index: 2;
  transition: all 0.2s ease-out 0.2s;
}

.sideMenuSmall {
  width: 5rem;
}
.margin {
  margin-top: 10rem;
}
.img {
  padding-right: 15px;
  transition: all 0.5s ease-out 0.5s;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.imgSmall {
  padding-right: 15px;
  margin-left: -15px;
  transition: all 0.3s ease-out;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.imgArrow {
  position: absolute;
  left: 1%;
  top: 1%;
  z-index: 5;
  transition: 300ms;
  cursor: pointer;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.imgChat {
  position: absolute;
  left: 12%;
  top: 1%;
  z-index: 5;
  cursor: pointer;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: 1s;
}
.imgChat:hover {
  transition: 300ms;
  transform: scale(1.1);
}
.left {
  rotate: 180deg;
  transition: 300ms;
  cursor: pointer;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

span {
  transition: all 0.5s ease-out 0.5s;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.smallText {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-out;
  margin-left: -5px;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.smallIcon {
  opacity: 0;
  left: 1%;
  top: 1%;
  visibility: hidden;
  transition: all 0.5s ease-out;
  margin-left: -5px;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.logoutWrapper {
  position: absolute;
  bottom: 3%;
}

.logout {
  display: flex;
  height: 25px;
  align-items: center;
  margin-left: 15px;
  margin-top: 5px;
  padding: 5px;
  width: 100%;
  transition: 0.3s;
  font-size: 20px;
  font-weight: 600;
  margin-top: 15px;
  background-color: transparent;
  border: none;
  padding-left: 2rem;
  color: white;
  opacity: 80%;
}
.logout:hover {
  cursor: pointer;
  opacity: 100%;
}
.userDataWrapper {
  color: white;
  font-size: 20px;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
}
.dbrdl {
  margin-right: 5px;
  transition: 0.3s;
}
.userIme {
  display: flex;
  justify-content: center;
}
.smallmenu {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-out;
  margin-left: -5rem;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.userData {
  margin-left: 5px;
}
.ikonica {
  opacity: 60%;
}
