.dijeteWrapper {
  position: relative;
  margin: 0 50px;
  border-radius: 5px;
}
.cell {
  width: 20rem;
  text-align: left;
  display: flex;
  align-items: center;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.row {
  display: flex;
  cursor: pointer;
  background-color: white;
  border: none;
  height: 30px;
  transition: 300ms;
}
.row:hover {
  background-color: #f4f4fb;
  transition: 300ms;
}
.lokacija {
  width: 50%;
  justify-content: center;
  transition: 300ms;
}
.naziv {
  width: 50%;
  justify-content: center;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.odjel {
  justify-content: center;
  width: 65%;
}
.x:hover {
  color: red;
}
.drugiRed {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.prviRed {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.red {
  background-color: #fadcda;
}
.izmjena:hover {
  font-weight: 700;
  transition: 300ms;
}
